* {
    margin: 0;
}
html, body {
    height: 100%;
}
.page-header {
	text-align:center;
}

.subHeading {
	color:grey;
}
.image {
	max-width:250px; 
	border-radius:5px;
}

.leftMargin {
	margin-left: 50px;
}

.about {
	max-width: 420px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -120px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 120px; /* .push must be the same height as .footer */
    text-align: center;
}
.links {
	letter-spacing: 30px;
}
.fa.icon {
	cursor: pointer;
	cursor: hand;
  	color: #0077b5;
  	font-size: 40px;
}

.fa.linkedin {
	color: #0077b5;
}
.fa.fb {
	color: #4867aa;
}

.fa.xing {
	color: #026962;
}

.fa.twitter {
	color: #00aced;
}

.desc {
	margin-top: 23px;
}

#copyrights {
	font-size:10px;
}